body {
    height: 100vh;
    width: 100 vw;
    background-color: #ff906e;
    color: rgba(255, 255, 255, 0.7);
    background-image: linear-gradient(#e34a1b, #b02b02);
}

#bigContainer {
    display: flex;

}

#leftContainer {
    width: 70%;
}

#mineContainer {
    width: 100px;
}

#researchButtonContainer {
    width: 100px;
}

#valueContainer {
    display: flex;
}

#valueContainer p {
    margin-left: 5px;
}

button {
    background-color: rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

#mineButton {
    width: 80%;
}

#researchButton {
    margin-bottom: 5px;
}

/*removes the inner dotted border that comes with the default button*/ 
button::-moz-focus-inner {
    border: 0;
}

.myProgress {
    width: 80%;
    height: 5px;
    margin-top: 5px;
    background-color: rgba(0,0,0,0);
    /* border: 1px solid rgba(255, 255, 255, 0.5) */
}

.myBar {
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

#rocksValue {
    margin-left: 5px;
}

#rightContainer {
    width: 30%;
}

#consoleContainer {
    height: 300px;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

#console {

}

#inventoryContainer {
    height: 150px;
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 10px;
}

#inventoryContainer p {
    margin: 0 0 0 5px;
}

#researchContainer {
    display: none;
}

#researchRocketContainer button {
    display: none;
}

#scavengingContainer {
    margin: 0;
    padding: 0;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    /*border: 3px solid white;*/
}

#scavengingBox {
    height: 50%;
    width: 50%;
    border: 2px solid white;
    margin: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    
}

#scavengingProgress {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#scavengingProgress div {
    font-size: 1.5em;
    font-weight: 700;
    height: 30%;
}

#scavengingProgress .myProgress {
    width: 75%;
    height: 5%;
    margin-left: 12.5%;
    
}

#encounterContainer {
    display: none;
}

#encounterContainer p {
    margin-left: 5px;
}

#encounterContainer button {
    margin-left: 5px;
}

#fightContainer {
    display: none;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#fightContainer h2 {
    height: 10%;
    margin: 5% 0 0 0;
}

#fighterStats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}

#fighterStats div {
    height: 100%;
    width: 50%
}

#fighterStats div h4 {
    margin: 0.5em;
}

#fighterStats div p {
    margin: 0.5em;
}

#fightConsole {
    height: 55%;
    width: 100%;
    overflow: hidden;
}

#introAnimationContainer {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introParagraph {
    font-size: 5em;
    width: 50%;
    opacity: 0.1;
}

#creditsContainer {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#creditsContainer h1 {
    font-size: 3em;
}

#creditsContainer p {
    font-size: 1.5em;
}

#creditsContainer #restart {
    font-size: 1em;
    margin-top: 10em;
}